@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');


body{
text-align: center;
font-family: 'Open Sans', sans-serif;
line-height:1.5rem;

}

header>div{
    background-color: black;
    padding: 25px;
}

header div img{
    width: 100px;
    display: inline;
}


#buttom{
    padding: 10px 20px 10px 20px;
    background-color: orangered;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    width: 300px;
}

#buttom{text-decoration: none;}

.titoli{
    color:rgb(0, 117, 167) ;
    font-size: 1em;
    text-align: center;
    margin: 10PX;
}

#hero{
    background-image: url(../images/banner.jpg);
    height: 300px;
    width: 100%;
    background-size: cover;
}

#heroc{
   font-size: 30px;
    padding: 25px;
    color: rgb(64, 157, 214);
    font-weight: 600;
   font-family: "monserrat" sans-serif;
}

#herob{
    margin: 30px;
    font-size:15px;
}


#foto1{
margin: 30px;
border-radius:100%;
margin-left: 10px;
}

#imgorange{
    padding: 20px;
    background-color: orangered;
}

#titleimg{
    color: white;
    padding: 20px;
font-weight: bold;
font-size:30px ;
}

.textimg{
    color: white;
    margin: 20px;
}

#scrittaarancione{
    font-size: 10px;
}




#footer {
    background-color: rgb(64, 157, 214)  ;
    padding: 20px;
    color: white;
    line-height: 2em;
  }

.spazi{
 
    padding: 10px;
    margin-bottom: 20px;
}

#footercopy{
    margin: 40px;
    font-size: 10px;
}

svg{
    width: 20px;
    fill: #ffffff;

}

a{color: white;}

.icon{
    color: white;
}

#tuopc{
 border: solid 1px;
 margin: 1px;
}

#margin{
    margin:10px 10px 10px 10px;
}
.bordi{
    border: 1px solid rgba(128, 128, 128, 0.723);
    margin-bottom: 10px;
}